<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MEET UP</title>
  </head>
  <link rel="stylesheet" href="stylesheets/meetups/meetups.css">
  <body>
    <section>

      <div class="leftbox">
        <div class="content">
          <h1>ALUMNI MEET UP</h1>
          <p>
            Hello and welcome to the Alumni Meet of Sri sairam engineering college of computer scince and engineering department.It is indeed my great pleasure to welcome among us the alumni of this institution.
             Not only is it a moment of happiness and nostalgia for us but also an opportunity to reflect on our learning and achievements.
          </p>
        </div>

      </div>
      <div class="events">
        <ul>
          <li>
            <div class="time">
              <h2>06<br><span>MAY</span></h2>
            </div>
            <div class="details">
              <h3>VIJAY S </h3>
              <p>He is from 2021 batch.Now he is woking in cognizant as a full stack developer</p>
              <a href="https://meet.google.com/ywx-wdwg-eac" target= "_blank">click to join in the meeting</a>
            </div>
            <div style="clear: both;">

            </div>
          </li>
          <li>
            <div class="time">
              <h2>22<br><span>MAY</span></h2>
            </div>
            <div class="details">
              <h3>Arun A </h3>
              <p>He is from 2021 batch.Now he is woking in Zoho co-opration as a trainee.</p>
              <a href="https://meet.google.com/ywx-wdwg-eac" target= "_blank">click to join in the meeting</a>
            </div>
            <div style="clear: both;">

            </div>
          </li>
          <li>
            <div class="time">
              <h2>04<br><span>JUNE</span></h2>
            </div>
            <div class="details">
              <h3>Prajith </h3>
              <p>He is from 2020 batch.Now he is studying in Abroad</p>
              <a href="https://meet.google.com/ywx-wdwg-eac" target= "_blank">click to join in the meeting</a>
            </div>
            <div style="clear: both;">

            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
