<%- include('partials/header')%>

<div id="container">
    <div class="form-wrap signUp">
        <h2>Sign Up as Alumni</h2>
        <p>It's free and only takes a minute</p>
        <form method="POST">
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" name="username" id="username" />
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="email" name="email" id="email" />
            </div>
            <div class="form-group">
                <label for="company">Company Name</label>
                <select name="company" id="company">
                    <option value="select">
                        --Select your company--
                    </option>
                    <option value="TCS">TCS
                    </option>
                    <option value="Infosys">Infosys
                    </option>
                    <option value="Accenture">Accenture
                    </option>
                    <option value="Cognizant">Cognizant
                    </option>
                    <option value="Pega">Pega
                    </option>
                    <option value="Hexaware">Hexaware
                    </option>
                    <option value="Zoho">Zoho
                    </option>
                    <option value="Prodapt">Prodapt
                    </option>
                    <option value="Wipro">Wipro
                    </option>
                    <option value="SerendeByte">SerendeByte
                    </option>
                    <option value="Sify">Sify
                    </option>
                    <option value="Itc infotech">Itc infotech
                    </option>
                    <option value="Guardian">Guardian
                    </option>
                    <option value="IBM">IBM
                    </option>
                    <option value="HCL">HCL
                    </option>
                    <option value="virtusa polaris">virtusa polaris
                    </option>
                    <option value="Mphasis">Mphasis
                    </option>
                    <option value="CISCO">CISCO
                    </option>
                    <option value="SKILL LYNC">SKILL LYNC
                    </option>
                    <option value="NEWGEN">NEWGEN</option>
                    <option value="Goldman Sachs">Goldman Sachs
                    </option>
                    <option value="mr.cooper">mr.cooper
                    </option>
                    <option value="Vembu">Vembu
                    </option>
                    <option value="Kaar Technology">Kaar Technology
                    </option>
                    <option value="Tech mahindra">Tech mahindra
                    </option>
                    <option value="">Solartis
                    </option>           
                </select>
            </div>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input type="text" name="designation" id="designation" />
            </div>
            <div class="form-group">
                <label for="passout">Passed out year</label>
                <input type="date" name="passout" id="passout" />
            </div>
            <div class="form-group">
                <label for="linkedIn">LinkedIn ID</label>
                <input type="text" name="linkedIn" id="linkedIn" />
            </div>
            <div class="form-group">
                <label for="phoneno">Phone Number</label>
                <input type="text" name="phoneno" id="phoneno" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" />
            </div>
            <button type="submit" class="btn">Sign Up</button>
            <p class="bottom-text">
                By clicking the Sign Up button, you agree to our
                <a href="#">Terms & Conditions</a> and
                <a href="#">Privacy Policy</a>
            </p>
        </form>
    </div>
</div>

<%- include('partials/footer')%>