<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 
    <title>Choose</title>
    <link
            rel="icon"
            href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB3QW3jbq20iZYmAeEWxKyLKbiYTxoHzb5-w&usqp=CAU"
            type="image/x-icon"
        />
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />


</head>
<body class="pt-md-0 select-page">
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img src="https://sairam.edu.in/wp-content/themes/sairam/images/logo.png" width="133" height="33" style="margin-top: 7px; padding-right:7px">
          </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul> 
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout">Logout <i class="fas fa-user-minus"></i></a></li>
              
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

<div class="container">
    <div class="row flex">
        <div class="txt col-lg-4 col-sm-6"> 
            Placement
            <a href="/placement">
                <div class="thumbnail"> 
                    <div class="image image1"></div> 
                </div> <!-- USED FOR IMAGES OF DIFFERENT SIZES -->
            </a>
        </div>
        <div class="txt col-lg-4 col-sm-6">
            Meet-Ups
            <a href="/meetups">
                <div class="thumbnail">
                <div class="image image2"></div>
            </a>
            </div>
        </div>
        <div class="txt col-lg-4 col-sm-6">
            Higher Studies
            <a href="/higherStudies">
                <div class="thumbnail">
                    <div class="image image3"></div>
                </div>
            </a>
        </div>
    </div>  
</div>


<%- include('partials/footer')%>