<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1920, initial-scale=1.0" />
    <title>Staff</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="m-2">
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#multiCollapseExample1"
        role="button"
        aria-expanded="false"
        aria-controls="multiCollapseExample1"
      >
        <img
          src="images/user.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />Staff name</a
      >
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <ul class="list-group">
            <li class="list-group-item">Department: CSE</li>
            <li class="list-group-item">Designation: HOD </li>
          </ul>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Dr. B. Latha</h5>
            <h6 class="card-subtitle mb-2 text-muted">10/05/2021</h6>
            <p class="card-text">
              CSS Corp virtual campus drive ( 2021 batch final years) scheduled on May 08-2021
              <br><br>
              TAP CELL - Sairam Institution
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">	Mr. N. Gopinath</h5>
            <h6 class="card-subtitle mb-2 text-muted">12/04/2021</h6>
            <p class="card-text">
              Sharing the details of the upcoming AI classroom series brought to you by NASSCOM in partnership with Microsoft.
              <br>
              It has been planned from 26th April to 1st May  2021, 2 PM – 5.30 PM. .Students can register for any one session.
              <br>
              Post session attending, they need to take free online assessment till 15 May and they earn a certificate.
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Mrs. A. Sangeeranidevi</h5>
            <h6 class="card-subtitle mb-2 text-muted">14/04/2021</h6>
            <p class="card-text">
              Greetings from IPR Cell!
              <br>
              IPR Cell is organizing a webinar on "Importance and Scope of IPRs in Academic Research" on World IP Day,
              <br>
              All are invited to participate and get maximum benefit out of the webinar,
              <br>
              Regards,<br>
              Dr. G. PUTHILIBAI / Prof (S&H) <br>
              Co-ordinator - IPR Cell
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Mrs. G. Manimala</h5>
            <h6 class="card-subtitle mb-2 text-muted">15/04/2021</h6>
            <p class="card-text">
              Today (24/4/2021) our department 3rd year students Vishwajit,Suresh Krishnaa R, Venkatesh D and Eyuwankg S Swankg, participated in Rajalakshmi Institute of Technology - RIT Technocrats Symposium and we won 1st place in the Website Development event.
              <br>
              Congratulations to all 
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Dr.J.K.Periasamy</h5>
            <h6 class="card-subtitle mb-2 text-muted">17/04/2021</h6>
            <p class="card-text">
              <a href="https://onlinedegree.iitm.ac.in/contest">https://onlinedegree.iitm.ac.in/contest</a>
              <br><br>
              This is about Cricket Hackathon from IIT Madras.
              It will be free of cost 
              <br><br>
              Hope every students will be interested in cricket and this will be a great opportunity for all students.
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Dr.M.Suresh Anand</h5>
            <h6 class="card-subtitle mb-2 text-muted">18/04/2021</h6>
            <p class="card-text">
              Greetings from NEAT Cell, AICTE, Ministry of Education…
              <br>
              <br>
              We feel delighted to share our new technological initiative with you. AICTE and GUVI, an IIT-Madras Incubated Company (NEAT shortlisted product) has collaborated to launch India’s Biggest Coding Revolution - #AIforIndia 1.0 that spearheads to break the GUINNESS WORLD RECORD by upskilling 10 Lakh participants with Python Programming skills in a One-Day Online workshop.
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Ms. M. KiruthigaDevi</h5>
            <h6 class="card-subtitle mb-2 text-muted">20/04/2021</h6>
            <p class="card-text">
              Dear Students,
              <br>
              GAVS technologies is going to conduct the campus drive for 2021 batch CSE/IT/ECE students. The interview date will be announced later.
              Students are requested to respond to the job post made on or before 21-04-2021 at 10:30 am.
              <br>
              <br>
              Eligible % : 7.0 CGPA in current degree without any standing arrears
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        <div class="card m-2" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Mr. S. Gurusubramani</h5>
            <h6 class="card-subtitle mb-2 text-muted">25/04/2021</h6>
            <p class="card-text">
              Greetings to all!!!!!!!
              <br><br>
              We are happy to share that  our Institution has bagged the prestigious AICTE LILAVATI AWARDS 2020..for the categories.. 
              Self defense and Literacy
            
              <br><br>
              The award ceremony held on April 11th, 2021 at New Delhi.
            
              <br><br>
              The cash awards and certificate/plaque distributed by Minister of HRD Shri Ramesh Pokhriyal and Minister of textiles and Minister of women and children development smt Smriti Irani.. 
            </p>
            <a href="#" class="card-link">Like</a>
          </div>
        </div>
        
      </div>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary fixed-bottom"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        style="left: 1rem; bottom: 1rem"
      >
        + New Post
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Add New Post
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
