<%- include('partials/header')%>

<div id="container">
    <div class="form-wrap signUp">
        <h2>Sign Up as Staff</h2>
        <form>
            <div class="form-group">
                <label for="first-name">Name</label>
                <input type="text" name="firstName" id="first-name" />
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="email" name="email" id="email" />
            </div>
            <div class="form-group">
                <label for="studentId">Staff ID</label>
                <input type="text" name="studentId" id="studentId" />
            </div>
            <div class="form-group">
                <label for="designation">Designation</label>
                <input
                    type="text"
                    name="designation"
                    id="designation"
                />
            </div>
            <div class="form-group">
                <label for="dept">Department</label>
                <select name="dept" id="dept">
                    <option value="select">
                        --Select the Department--
                    </option>
                    <option value="CSE">
                        Training and placement cell
                    </option>
                    <option value="CSE">
                        Computer Science and Engineering
                    </option>
                    <option value="Mech">Mechanical Engineering</option>
                    <option value="Civil">Civil Engineering</option>
                    <option value="ECE">
                        Electronics and Communication Engineering
                    </option>
                    <option value="IT">Information Technology</option>
                    <option value="EEE">Electrical engineering</option>
                </select>
            </div>

            <div class="form-group">
                <label for="phoneno">Phone Number</label>
                <input type="text" name="phoneno" id="phoneno" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" name="pasword2" id="password2" />
            </div>
            <button type="submit" class="btn">Sign Up</button>
            <p class="bottom-text">
                By clicking the Sign Up button, you agree to our
                <a href="#">Terms & Conditions</a> and
                <a href="#">Privacy Policy</a>
            </p>
        </form>
    </div>
</div>

<%- include('partials/footer')%>
