<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Product-slider</title>
        <!--Adding Links  -->
        <link rel="stylesheet" href="stylesheets/vendors/swiper.min.css" />
        <link rel="stylesheet" href="stylesheets/companies/style.css" />
    </head>
    <body>
        <!--slider 1 bags------------------------------------------>
        <div class="heading">
            <h1>P L A C E M E N T &emsp; R E V I E W &emsp;</h1>
        </div>
        <!--swiper slider-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--slide 1-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/TCS.png" />
                        </div>

                        <div class="name">
                            <p>TATA CONSULTANCY SERVICE</p>
                        </div>
                    </div>
                </div>

                <!--slide 2-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/congnizant.webp" />
                        </div>

                        <div class="name">
                            <p>COGNIZANT</p>
                        </div>
                    </div>
                </div>

                <!--slide 3-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Zoho.jpg" />
                        </div>
                        <div class="name">
                            <p>ZOHO</p>
                        </div>
                    </div>
                </div>

                <!--slide 4-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/infosys.jpg" />
                        </div>

                        <div class="name">
                            <p>INFOSYS</p>
                        </div>
                    </div>
                </div>

                <!--slide 5-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/pega.jfif" />
                        </div>

                        <div class="name">
                            <p>PEGA</p>
                        </div>
                    </div>
                </div>

                <!--slide 6-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/prodapt.webp" />
                        </div>

                        <div class="name">
                            <p>PRODAPT</p>
                        </div>
                    </div>
                </div>

                <!--slide 7-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/accenture.png" />
                        </div>

                        <div class="name">
                            <p>ACCENTURE</p>
                        </div>
                    </div>
                </div>

                <!--slide 8-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/wipro.png" />
                        </div>
                        <div class="name">
                            <p>WIPRO</p>
                        </div>
                    </div>
                </div>

                <!--slide 9-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/hcl.jpg" />
                        </div>

                        <div class="name">
                            <p>HCL</p>
                        </div>
                    </div>
                </div>
                <!--slide 10-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/VirtusaPolaris.jpg" />
                        </div>

                        <div class="name">
                            <p>VIRTUSA POLARIS</p>
                        </div>
                    </div>
                </div>
                <!--slide 11-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Sify.png" />
                        </div>

                        <div class="name">
                            <p>Sify</p>
                        </div>
                    </div>
                </div>
                <!--slide 12-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/vembu.png" />
                        </div>

                        <div class="name">
                            <p>VEMBU</p>
                        </div>
                    </div>
                </div>
                <!--slide 13-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Skilllync.png" />
                        </div>

                        <div class="name">
                            <p>SKILL-LYNC</p>
                        </div>
                    </div>
                </div>
                <!--slide 14-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Cisco.png" />
                        </div>

                        <div class="name">
                            <p>CISCO</p>
                        </div>
                    </div>
                </div>
                <!--slide 15-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Kaar techonology.png" />
                        </div>

                        <div class="name">
                            <p>Sify</p>
                        </div>
                    </div>
                </div>
                <!--slide 16-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/newgen.jpg" />
                        </div>

                        <div class="name">
                            <p>NEWGEN</p>
                        </div>
                    </div>
                </div>
                <!--slide 17-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/amazon.jpg" />
                        </div>

                        <div class="name">
                            <p>AMAZON</p>
                        </div>
                    </div>
                </div>
                <!--slide 18-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/google.webp" />
                        </div>

                        <div class="name">
                            <p>GOOGLE</p>
                        </div>
                    </div>
                </div>
                <!--slide 19-------------------------------------->

                <!--slide 20-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/hexaware.png" />
                        </div>

                        <div class="name">
                            <p>HEXAWARE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--swiper  slider end-->

        <!--slider 2 clothes------------------------------------------>
        <div class="heading">
            <h1>C O M P A N Y &emsp; R E V I E W &emsp;</h1>
        </div>
        <!--swiper slider-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--slide 1-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/TCS.png" />
                        </div>

                        <div class="name">
                            <p>TATA CONSULTANCY SERVICE</p>
                        </div>
                    </div>
                </div>

                <!--slide 2-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/congnizant.webp" />
                        </div>

                        <div class="name">
                            <p>COGNIZANT</p>
                        </div>
                    </div>
                </div>

                <!--slide 3-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Zoho.jpg" />
                        </div>
                        <div class="name">
                            <p>ZOHO</p>
                        </div>
                    </div>
                </div>

                <!--slide 4-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/infosys.jpg" />
                        </div>

                        <div class="name">
                            <p>INFOSYS</p>
                        </div>
                    </div>
                </div>

                <!--slide 5-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/pega.jfif" />
                        </div>

                        <div class="name">
                            <p>PEGA</p>
                        </div>
                    </div>
                </div>

                <!--slide 6-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/prodapt.webp" />
                        </div>

                        <div class="name">
                            <p>PRODAPT</p>
                        </div>
                    </div>
                </div>

                <!--slide 7-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/accenture.png" />
                        </div>

                        <div class="name">
                            <p>ACCENTURE</p>
                        </div>
                    </div>
                </div>

                <!--slide 8-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/wipro.png" />
                        </div>
                        <div class="name">
                            <p>WIPRO</p>
                        </div>
                    </div>
                </div>

                <!--slide 9-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/hcl.jpg" />
                        </div>

                        <div class="name">
                            <p>HCL</p>
                        </div>
                    </div>
                </div>
                <!--slide 10-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/VirtusaPolaris.jpg" />
                        </div>

                        <div class="name">
                            <p>VIRTUSA POLARIS</p>
                        </div>
                    </div>
                </div>

                <!--slide 11-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Sify.png" />
                        </div>

                        <div class="name">
                            <p>Sify</p>
                        </div>
                    </div>
                </div>
                <!--slide 12-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/vembu.png" />
                        </div>

                        <div class="name">
                            <p>VEMBU</p>
                        </div>
                    </div>
                </div>
                <!--slide 13-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Skilllync.png" />
                        </div>

                        <div class="name">
                            <p>SKILL-LYNC</p>
                        </div>
                    </div>
                </div>
                <!--slide 14-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Cisco.png" />
                        </div>

                        <div class="name">
                            <p>CISCO</p>
                        </div>
                    </div>
                </div>

                <!--slide 15-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/Kaar techonology.png" />
                        </div>

                        <div class="name">
                            <p>Sify</p>
                        </div>
                    </div>
                </div>
                <!--slide 16-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/newgen.jpg" />
                        </div>

                        <div class="name">
                            <p>NEWGEN</p>
                        </div>
                    </div>
                </div>

                <!--slide 17-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/amazon.jpg" />
                        </div>

                        <div class="name">
                            <p>AMAZON</p>
                        </div>
                    </div>
                </div>

                <!--slide 18-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/google.webp" />
                        </div>

                        <div class="name">
                            <p>GOOGLE</p>
                        </div>
                    </div>
                </div>
                <!--slide 19-------------------------------------->
                <!--slide 20-------------------------------------->
                <div class="swiper-slide">
                    <div class="slider-box">
                        <div class="img-box">
                            <img src="images/hexaware.png" />
                        </div>

                        <div class="name">
                            <p>HEXAWARE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--swiper  slider end-->

        <script type="text/javascript" src="js/swiper.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
