<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" type="text/css" href="stylesheets/reviews/placementReview.css" />
    </head>
    <body>
        <div class="cont">
            <div class="title">
                <h1>PLACMENT <span>REVIEW</span></h1>

                <h2><%= currentUser.CompanyName %></h2>
            </div>
            <div class="stars">
                <form action="">
                    <input
                        class="star star-5"
                        id="star-5"
                        type="radio"
                        name="star"
                    />
                    <label class="star star-5" for="star-5"></label>
                    <input
                        class="star star-4"
                        id="star-4"
                        type="radio"
                        name="star"
                    />
                    <label class="star star-4" for="star-4"></label>
                    <input
                        class="star star-3"
                        id="star-3"
                        type="radio"
                        name="star"
                    />
                    <label class="star star-3" for="star-3"></label>
                    <input
                        class="star star-2"
                        id="star-2"
                        type="radio"
                        name="star"
                    />
                    <label class="star star-2" for="star-2"></label>
                    <input
                        class="star star-1"
                        id="star-1"
                        type="radio"
                        name="star"
                    />
                    <label class="star star-1" for="star-1"></label>
                    <div class="rev-box">
                        <textarea
                            class="review"
                            col="30"
                            name="review"
                        ></textarea>
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#myModal"
                        >
                            post
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                        >
                                            &times;
                                        </button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        THANK YOU FOR FEEDBACK😀😀😀
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn-danger"
                                            data-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
